@page
@model Classifieds.Web.Pages.Advertisements.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Category.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Advertisement.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
